# Sign details
[user]
    email = AUTHOREMAIL
    name = AUTHORNAME

# GPG-sign commits
[commit]
    gpgsign = true

# Editor
[core]
    editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
