# Sign details
[user]
    email = AUTHOREMAIL
    name = AUTHORNAME

# GPG-sign commits
[commit]
    gpgsign = true

# Editor
[core]
    editor = cursor --wait
[diff]
    tool = cursor
[difftool "cursor"]
    cmd = cursor --wait --diff $LOCAL $REMOTE
[merge]
    tool = cursor
[mergetool "cursor"]
    cmd = cursor --wait --merge $REMOTE $LOCAL $BASE $MERGED
