export JAVA_HOME=$(/usr/libexec/java_home)

# Required: Set this to your dotfiles repo path.
# Other dotfiles configs depend on this env var at shell startup.
export DOTFILES_ROOT="$HOME/user-settings/dotfiles"

# Simple Flutter...
export PATH="${HOME}/user-sdks/flutter/bin:${PATH}"

# FVM...
export FVM_CACHE_PATH="${HOME}/user-sdks/.fvm"
export PATH="${FVM_CACHE_PATH}/default/bin:${PATH}"

export PATH="${HOME}/user-sdks/protoc/bin:${PATH}"
export PATH="${HOME}/user-sdks/protoc/include:${PATH}"
